src/main/resources/wsdl/petclinic-services.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.petclinic.com/xml/pets" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.petclinic.com/xml/pets" targetNamespace="http://www.petclinic.com/xml/pets">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.petclinic.com/xml/pets">

	<xs:complexType name="Pet">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="ownerId" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="GetPetsByOwnerRequest">
	  	<xs:complexType>
			<xs:sequence>
			  <xs:element name="ownerId" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetPetsByOwnerResponse">
	  	<xs:complexType>
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="pets" nillable="true" type="tns:Pet"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetPetsByOwnerRequest">
    <wsdl:part element="tns:GetPetsByOwnerRequest" name="GetPetsByOwnerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPetsByOwnerResponse">
    <wsdl:part element="tns:GetPetsByOwnerResponse" name="GetPetsByOwnerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PetClinicPort">
    <wsdl:operation name="GetPetsByOwner">
      <wsdl:input message="tns:GetPetsByOwnerRequest" name="GetPetsByOwnerRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetPetsByOwnerResponse" name="GetPetsByOwnerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PetClinicPortSoap11" type="tns:PetClinicPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetPetsByOwner">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPetsByOwnerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPetsByOwnerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PetClinicPortService">
    <wsdl:port binding="tns:PetClinicPortSoap11" name="PetClinicPortSoap11">
      <soap:address location="http://localhost:8080/service/petclinic"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>